.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.board {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-bottom:-60px;
}

.cell {
  font-size: 1em;
  vertical-align: baseline;
  text-align: center;
}

.scoreboard {
  position:absolute;
  height:auto;
  font-family: "Roboto", sans-serif;
  top: 20px;
  left: 20px;
  background-color:rgba(227, 196, 227, 1);
  padding:20px;
  border-radius:10px;
  box-shadow:10px 5px 5px rgba(0,0,255,0.2);
}

.even {
  height: 45px;
  width: 45px;
  display: inline-block;
  border: 1px black solid;
  background-color: rgb(240,210,180);
  color: rgb(240,210,180);
}

.fa {
  line-height: 45px;
}

.odd {
  height: 45px;
  width: 45px;
  display: inline-block;
  border: 1px black solid;
  background-color: rgb(192,103,103);
}

.empty {
  height: 45px;
  width: 45px;
  display: inline-block;
  border: 1px black solid;
  background-color: rgb(192,103,103);
  color: rgb(192,103,103);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  color: white;
}

.control {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.messages {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.start {
  margin-top: 10px;
  width: 120px;
  height: 100px;
  background-color: #000;
  line-height: 100px;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  opacity: 0.5;
  display: none;
}

.level {
  margin: 0 15px;
  color: white;
  cursor: pointer;
}

.not-selected, .possibles {
  opacity: 0.5;
}

.not-selected:hover {
  opacity: 1;
}

.ingame {
  display: none;
  color: white;
}

.ingame > p {
  margin: 0px;
}

.robot {
  opacity: 0.5;
}

.start:hover {
  opacity: 1;
}
